{% extends "base.html" %}
{% block content %}

<h3>Admin Dashboard</h3>

<h2>Admin Users</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Services</th>
        <th>Add Service</th>
        <th>Remove Service</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ services | count }}</td>

            <td>
                <form method="post" action="/users/user_add_service">
                    <table class="addtable">
                        <tr>
                            <td>
                                {{ userswithoutservices | count }}                                
                            </td>
                            <td>
                                <input type="hidden" name="userid" value="{{ user.id }}">
                                <select name="serviceid" class="form-select form-select-sm">
                                    {% for service in userswithoutservices %}                                        
                                        {% if user.id == service.userid %}
                                            <option value="{{ service.serviceid }}">{{ service.name }}</option>
                                        {% endif %}                
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success mt-1">Add</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <form method="post" action="/users/user_remove_service">
                    <table class="removetable">
                        <tr>
                            <td>
                                {{ userswithservices | count }}                                
                            </td>
                            <td>
                                <input type="hidden" name="userid" value="{{ user.id }}">
                                <select name="serviceid" class="form-select form-select-sm">
                                    {% for service in userswithservices %}                                    
                                        {% if user.id == service.user_id %}       
                                            <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endif %}                
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger mt-1">Remove</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                {% if user.is_verified %}
                {% else %}
                    <a href="/users/user_approve/{{ user.id }}" class="btn btn-success btn-sm">
                        Approve
                    </a>
                {% endif %}                
                {% if user.is_admin %}
                {% else %}
                    <a href="/users/user_remove/{{ user.id }}" class="btn btn-danger btn-sm">
                        Remove
                    </a>
                {% endif %}                
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Admin Services</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Desc</th>
        <th>URL</th>
        <th>Start Time</th>
        <th>Action</th>
    </tr>
    {% for service in services %}
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.desc }}</td>
            <td>{{ service.url }}:{{ service.port }}</td>
            <td>{{ service.started_at }}</td>
            <td>    
                <a href="/services/service_start/{{ service.id }}"  
                    class="btn btn-success btn-sm">
                    Start
                </a>
                <a href="/services/service_remove/{{ service.id }}" 
                    class="btn btn-danger btn-sm">
                    Remove
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<form method="post" action="/services/service_add" class="row g-2 mb-3">
    <input name="name" placeholder="Name" class="form-control" required>
    <input name="desc" placeholder="DESC" class="form-control" required>
    <input name="url" placeholder="URL" class="form-control" required>
    <input name="port" placeholder="Port" class="form-control" required>
    <button class="btn btn-success">Add Service</button>
</form>

{% endblock %}
