{% extends "base.html" %}
{% block content %}

<h3>Admin Dashboard</h3>

<h2>Admin Users</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Services</th>
        <th>Add Service</th>
        <th>Remove Service</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ services | count }}</td>

            <td>
                <form method="post" action="/users/user_add_service">
                    <table class="addtable">
                        <tr>
                            <td>
                                <input type="hidden" name="userid" value="{{ user.id }}">
                                <select name="serviceid" class="form-select form-select-sm">
                                    {% for service in userswithoutservices %}                                        
                                        {% if user.id == service.userid %}
                                            <option value="{{ service.serviceid }}">{{ service.name }}</option>
                                        {% endif %}                
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success mt-1">Add</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <form method="post" action="/users/user_remove_service">
                    <table class="removetable">
                        <tr>
                            <td>
                                <input type="hidden" name="userid" value="{{ user.id }}">
                                <select name="serviceid" class="form-select form-select-sm">
                                    {% for service in userswithservices %}                                    
                                        {% if user.id == service.userid %}       
                                            <option value="{{ service.serviceid }}">{{ service.name }}</option>
                                        {% endif %}                
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger mt-1">Remove</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                {% if user.is_verified %}
                {% else %}
                    <a href="/users/user_approve/{{ user.id }}" class="btn btn-success btn-sm">
                        Approve
                    </a>
                {% endif %}                
                {% if user.is_admin %}
                {% else %}
                    <a href="/users/user_remove/{{ user.id }}" class="btn btn-danger btn-sm">
                        Remove
                    </a>
                {% endif %}                
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Admin Services</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        
        <th>URL</th>
        <th>Status</th>
        <th>PID</th>
        <th>Action</th>
    </tr>
    {% for service in services %}
        <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.url }}</td>
            <td>{{ service.status }}</td>
            <td>{{ service.pid }}</td>
            <td>    
                {% if service.status == "stopped" %}
                    <a href="/services/service_start/{{ service.name }}"  
                        class="btn btn-success btn-sm">
                        Start
                    </a>
                {% else %}
                    <a href="/services/service_stop/{{ service.name }}"  
                        class="btn btn-success btn-sm">
                        Stop
                    </a>
                {% endif %}                

                <a href="#"
                    onclick="openService('{{ service.url }}','{{ service.name }}'); return false;"
                    class="btn btn-success btn-sm">
                    View
                </a>                

                <a href="/services/service_remove/{{ service.id }}" 
                    class="btn btn-danger btn-sm">
                    Remove
                </a>                
            </td>
        </tr>

    {% endfor %}
</table>

<style>
    table {border-collapse: collapse;}
    td,th {border:1px solid #ccc;padding:8px;}
    iframe {
        width:100%;
        height:600px;
        border:1px solid #aaa;
    }
</style>

<script>
    function openService(url, name){
        document.getElementById("serviceFrame").src = url;
        document.getElementById("serviceTitle").innerText = name;
}    
</script>

<h3>Service View</h3>

<iframe id="serviceFrame"></iframe>

{% endblock %}
