{% extends "base.html" %}
{% block content %}

<h2>Admin Users</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Services</th>
        <th>Add Service</th>
        <th>Remove Service</th>
        <th>Action</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
                {% for service in user.services %}
                    <span class="badge bg-info">
                        {{ service.servicename }}
                    </span>
                {% endfor %}
            </td>
            <td>
                <form method="post" action="/admin/users/admin_add_service_to_user/{{ user.id }}">
                    <table class="addtable">
                        <tr>
                            <td>
                                <select name="service_id" class="form-select form-select-sm">
                                    {% for service in services %}
                                        <option value="{{ service.id }}">{{ service.servicename }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-success mt-1">Add</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                <form method="post" action="/admin/users/admin_remove_service_from_user/{{ user.id }}">
                    <table class="removetable">
                        <tr>
                            <td>
                                <select name="service_id" class="form-select form-select-sm">
                                    {% for service in services %}
                                        <option value="{{ service.id }}">{{ service.servicename }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger mt-1">Remove</button>
                            </td>

                        </tr>
                    </table>
                </form>
            </td>
            <td>
                {% if user.is_approved %}
                {% else %}
                    <a href="/admin/users/admin_approve_user/{{ user.id }}" class="btn btn-success btn-sm">
                        Approve
                {% endif %}                
                {% if user.is_admin %}
                {% else %}
                    <a href="/admin/users/admin_delete_user/{{ user.id }}" class="btn btn-danger btn-sm">
                        Delete
                    </a>
                {% endif %}                
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}