{% extends "base.html" %}
{% block content %}

<div class="row">

<div class="col-md-8">
<h3>Web Services</h3>

<ul class="list-group">
{% for s in services %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ s.name }}

    <!-- 把 name 和 url 传到 service 页面 -->
    <a href="{{ url_for('service_page') }}?name={{ s.name }}&url={{ s.url }}"
       class="btn btn-sm btn-primary">
       Enter
    </a>
  </li>
{% endfor %}
</ul>

</div>

<div class="col-md-4">

<h3>Chat</h3>

<div id="chatbox" style="height:300px;overflow:auto" class="border p-2 bg-white"></div>

<input id="msg" class="form-control mt-2" placeholder="Message">

<button onclick="sendMsg()" class="btn btn-success mt-2 w-100">Send</button>
</div>

</div>

<script>
var socket = io();

socket.on("receive_message", function(data){
    let box = document.getElementById("chatbox");
    box.innerHTML += "<div><b>"+data.user+":</b> "+data.msg+"</div>";
});

function sendMsg(){
    let msg = document.getElementById("msg").value;
    socket.emit("send_message",{user:"{{current_user.username}}", msg:msg});
}
</script>

{% endblock %}
