{% extends "servicebase.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Trading Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <style>
        body { font-family: Arial; }
        table {border-collapse: collapse;} /* 很重要，避免双线 */
        td, th {border: 1px solid black; padding: 5px;} /* ✅ 黑色边框 */
        th {background-color: #ccc; color: black;} /* 灰色背景 */
        time { font-size: 1.5em; color: darkblue; }
        .symbol-row {background: #f5f5f5;font-weight: bold;}
        .child-row {background: #fafafa;display: none;}
        .toggle-btn {cursor: pointer;font-weight: bold;}
    </style>
</head>
<body>
    <h2>Trading Dashboard</h2>
    <hr>
    <p>🤖 New York Time: <span id="time">Loading...</span></p>
    <div id="table_container"></div>    
    <hr>
    
    <!-- ================= Run Auto Trade ================= -->    
    <h3>🚀 Run Trades</h3>
    <div style="display:flex; align-items:center; gap:12px;">
        <label style="display:flex; align-items:center; gap:6px;">
        <input type="checkbox" id="autoRun"> Auto Run </label>
        <button onclick="triggerTrade()">🚀 Run Trades </button>
    </div>
    <p id="runTradeUpdated"> </p>
    <hr>

    <h3>📈 Today Prices (Prices in Today) <span><button onclick="updateDayPriceData()">Update</button></span></h3>
    <div id="day_prices_lineChart" style="width:100%;height:400px;"></div>    
    <table id="day_prices_table" border="1"></table>
    <p id="dayPricesUpdated"> </p>
    <hr>
    
    <h3>📉 Month Prices (Prices in 30 days) <span><button onclick="updateDailyPriceData()">Update</button></span></h3>
    <div id="daily_prices_lineChart" style="width:100%;height:400px;"></div>    
    <table id="daily_prices_table" border="1"></table>
    <p id="dailyPricesUpdated"> </p>
    <hr>

    <h3>💼 Positions (Market Value) <span><button onclick="updatePositionsData(true)">Update</button></span></h3>
    <div id="positions_barChart" style="width:100%;height:400px;"></div>
    <table id="positions_table" border="1"></table>
    <p id="positionsUpdated"> </p>
    <hr>    

    <h3>📊 Trades (PNL) <span><button onclick="updateTradesData(true)">Update</button></span></h3>
    <div id="trades_lineChart" style="width:100%;height:400px;"></div>    
    <table id="trades_table" border="1"></table>
    <p id="tradesUpdated"> </p>
    <hr>

    <h3>🔥 Top Symbols (Score) <span><button onclick="updateTopSymbolsData(true)">Update</button></span></h3>
    <div id="top_symbols_barChart" style="width:100%;height:400px;"></div>    
    <table id="top_symbols_table" border="1"></table>
    <p id="scansUpdated"> </p>
    <hr>
    
    <h3>💰 Account <span><button onclick="updateAccountData(true)">Update</button></span></h3>
    <table id="account_table" border="1"></table>
    <p id="accountUpdated"> </p>
    <hr>

    <script>

        async function updateTradeTime()
        {
            document.getElementById("time").textContent = getNYTime();
        }

        async function updateAccountData()
        {
            const res = await fetch("/api/account");
            const html = await res.text();
            document.getElementById("account_table").innerHTML = html;       
            document.getElementById("accountUpdated").textContent = "Account updated at " + getNYTime();             
        }

        async function updateDayPriceData()
        {
            const res = await fetch("/api/day_prices");                              
            const data = await res.json() 
            document.getElementById("day_prices_table").innerHTML = data.html;                   
            renderLine(data.lines, 'day_prices_lineChart');
            document.getElementById("dayPricesUpdated").textContent = "Day prices updated at " + getNYTime();
        }        

        async function updateDailyPriceData()
        {
            const res = await fetch("/api/daily_prices");                              
            const data = await res.json() 
            document.getElementById("daily_prices_table").innerHTML = data.html;                   
            renderLine(data.lines, 'daily_prices_lineChart');
            document.getElementById("dailyPricesUpdated").textContent = "Daily prices updated at " + getNYTime();        
        }

        async function updatePositionsData()
        {
            const res = await fetch("/api/positions");
            const data = await res.json()
            document.getElementById("positions_table").innerHTML = data.html;
            renderBar(data.bars, 'positions_barChart');       
            document.getElementById("positionsUpdated").textContent = "Positions updated at " + getNYTime();
        }        
        
        async function updateTopSymbolsData()
        {
            const res = await fetch("/api/top_symbols");
            const data = await res.json()
            document.getElementById("top_symbols_table").innerHTML = data.html;
            renderBar(data.bars, 'top_symbols_barChart');
            document.getElementById("scansUpdated").textContent = "Scans updated at " + getNYTime();
        
        }                

        async function updateTradesData()        
        {
            const res = await fetch("/api/trades");            
            const data = await res.json();
            document.getElementById("trades_table").innerHTML = data.html;                        
            renderLine(data.lines, 'trades_lineChart');
            document.getElementById("tradesUpdated").textContent = "Trades updated at " + getNYTime();
        }

        function toggleRow(i) {
            const rows = document.querySelectorAll(".child_" + i);
            const btn = document.getElementById("btn_" + i);
            let isHidden = rows[0].style.display === "none";
            rows.forEach(r => {
                r.style.display = isHidden ? "table-row" : "none";
            });
            btn.innerText = isHidden ? "[-]" : "[+]";
        }

        const NODE_ICONS = {
            buy: "path://M512 128L896 768H128Z",        // ▲
            sell: "path://M128 256H896L512 896Z",       // ▼
            hold: "circle",
            skip: "rect"
        };        

        
        function getNodeIcon(action) {
            switch(action) {
                case "buy":
                    return "triangle";
                case "sell":
                    return "triangle";  // 可旋转
                case "hold":
                    return "circle";
                case "skip":
                    return "rect";
                default:
                    return "circle";
            }
        }

        function getNodeColor(action) {
            switch(action) {
                case "buy":
                    return "#00c853";   // 绿
                case "sell":
                    return "#ff5252";   // 红
                case "hold":
                    return "#2962ff";   // 蓝
                case "skip":
                    return "#9e9e9e";   // 灰
                default:
                    return "#ffffff";
            }
        }        
        function renderLine(data, chartName) {
            const chart = echarts.init(document.getElementById(chartName));
            data.forEach(sym => {
                sym.series.forEach(p => {
                    if (p.node && typeof p.node === "string") {
                        try {
                            p.node = JSON.parse(p.node);
                        } catch(e) {
                            p.node = null;
                        }
                    }
                });
            });

            let series = [];
            let xAxis = [];
            const colors = data.map(d => d.color);

            data.forEach((sym, idx) => {

                if (idx === 0) {
                    xAxis = sym.series.map(p => p.x);
                }       

                // 🟢 盈利
                series.push({
                    //name: sym.symbol + "_profit",
                    type: 'line',
                    data: sym.series.map(p => {
                        if (p.z <= 0) return null;
                        return [p.x, p.y];
                    }),
                    lineStyle: {
                        width: 4,
                        //color: "#00c853"
                        color: "rgba(0, 200, 83, 0.3)"
                    },
                    showSymbol: false,
                    z: 3
                });

                // 🔴 亏损
                series.push({
                    //name: sym.symbol + "_loss",
                    type: 'line',
                    data: sym.series.map(p => {
                        if (p.z >= 0) return null;
                        return [p.x, p.y];
                    }),
                    lineStyle: {
                        width: 4,
                        //color: "#ff5252"
                        color: "rgba(255, 82, 82, 0.3)"
                    },
                    showSymbol: false,
                    z: 3
                });
                
                series.push({
                    name: sym.symbol,
                    type: 'line',
                    data: sym.series.map(p => [p.x, p.y]),
                    lineStyle: {
                        color: colors[idx],
                        width: 2
                    },
                    showSymbol: false,
                    z: 4
                });                
                
                series.push({
                    //name: sym.symbol + "_nodes",
                    type: 'scatter',
                    data: sym.series
                        .filter(p => p.node)
                        .map(p => {
                            const action = p.node.action;

                            return {
                                value: [p.x, p.y],

                                symbol: getNodeIcon(action),
                                symbolSize: 14,
                                symbolRotate: action === "sell" ? 180 : 0,

                                itemStyle: {
                                    color: getNodeColor(action)
                                },

                                node: p.node   // 👉 给 tooltip 用
                            };
                        }),
                    z: 5
                });                
            });

            chart.setOption({
                //legend: {
                //    data: data.map(d => d.symbol)
                //},
                tooltip: {
                    trigger: 'axis',
                    formatter: function(params) {

                        if (!Array.isArray(params)) params = [params];

                        let res = params[0].axisValue + "<br/>";

                        params.forEach(p => {
                            if (p.data && p.data.node) {
                                res += `
                                ${p.seriesName}
                                📍 ${p.data.node.action}
                                📝 ${p.data.node.notes}
                                <br/>
                                `;
                            }
                        });

                        return res;
                    }
                },

                legend: {
                    data: data.map(d => d.symbol),
                    selected: Object.fromEntries(data.map(d => [d.symbol, true])),

                    textStyle: {
                        fontWeight: 'bold'
                    }
                },                

                legend: {
                    formatter: function(name) {
                        const item = data.find(d => d.symbol === name);
                        return `{${name}|${name}}`;
                    },
                    textStyle: {
                        rich: Object.fromEntries(
                            data.map(d => [
                                d.symbol,
                                {
                                    color: d.color,
                                    backgroundColor: 'rgba(0,0,0,0.1)',
                                    padding: [4, 6],
                                    borderRadius: 4
                                }
                            ])
                        )
                    }
                },


                xAxis: { type: "category", data: xAxis },
                yAxis: {
                    type: "value"
                },
                series: series
            });
        }


        function renderBar(data, chartName) {
            barChart = echarts.init(document.getElementById(chartName));    
            const symbols = data.map(d => d.x);
            const labels = data.map(d => d.symbol);
            const values = data.map(d => d.y);
            const colors = data.map(d => d.color);            

            barChart.setOption({
            tooltip: {
                formatter: (p) => {
                    return `
                        ${p.name}<br/>
                        Change: ${(p.value).toFixed(2)}
                    `;
                }
            },

            xAxis: {
                type: 'category',
                data: symbols,
                axisLabel: {
                    formatter: function (value, index) {
                        return `{color${index}|${value}}`;
                    },
                    rich: symbols.reduce((acc, _, i) => {
                        acc[`color${i}`] = {
                            color: colors[i]
                        };
                        return acc;
                    }, {})
                }
            },
            
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: (v) => (v).toFixed(2)
                }
            },
            series: [{
                type: 'bar',
                data: values,
                itemStyle: {
                    color: (params) => {
                        return params.value >= 0 ? "#00FF99" : "#FF3366";
                    }},
                // ✅ 参考线（成本 / 0线）
                markLine: {
                    data: [
                        { yAxis: 0 }
                    ],
                    lineStyle: {
                        width: 2
                    }}
                }]
            });
        }

        function getNYTime() {
            return new Date().toLocaleString("en-US", {
                timeZone: "America/New_York",
                hour12: false,
                timeZoneName: "short"
            });
        }
        
        //updateTradeTime()
        //updateAccountData()
        updateDayPriceData()        
        //updateDailyPriceData()
        //updatePositionsData()
        //updateTopSymbolsData()        
        //updateTradesData()

        // ==============================
        // 模拟交易
        // ==============================
        async function triggerTrade() {
            res = await fetch('/api/run_trades');
            updateTradeTime()
            updateAccountData()
            updateDayPriceData()        
            updateDailyPriceData()
            updatePositionsData()
            updateTopSymbolsData()        
            updateTradesData()
            document.getElementById("runTradeUpdated").textContent = "Positions updated at " + getNYTime();

            //await loadChart(); // 👉 只有交易才刷新
        }

        // 5分钟循环刷新
        //setInterval(updateTradeTime, 5 * 60 * 1000);

        setInterval(async () => {

            const auto = document.getElementById("autoRun").checked;

            if (!auto) {
                console.log("Auto OFF");
                return;
            }

            console.log("Auto RUNNING...");

            // 👉 自动执行你的流程
            await setInterval(updateTradeTime, 5 * 60 * 1000);
            await updateDayPriceData();
            await updatePositionsData();
            //await runStrategy();   // 你的交易逻辑

        }, 5 * 60 * 1000);  // 每5秒（或5分钟 300000）

    </script>
</body>
</html>
{% endblock %}