{% extends "servicebase.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Trading Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

    <style>
        body { font-family: Arial; }
        table {border-collapse: collapse;} /* 很重要，避免双线 */
        td, th {border: 1px solid black; padding: 5px;} /* ✅ 黑色边框 */
        th {background-color: #ccc; color: black;} /* 灰色背景 */
        time { font-size: 1.5em; color: darkblue; }
        .symbol-row {background: #f5f5f5;font-weight: bold;}
        .child-row {background: #fafafa;display: none;}
        .toggle-btn {cursor: pointer;font-weight: bold;}
    </style>
</head>
<body>
    <h2>Trading Dashboard</h2>
    <h3>Auto Update Every 5 Minutes</h3>
    <p>🤖 New York Time: <span id="time">Loading...</span></p>
    <div id="table_container"></div>    
    <hr>
    
    <h3>📈 Today Prices <span><button onclick="updateDayPriceData(true)">Update</button></span></h3>
    <div id="day_prices_lineChart" style="width:100%;height:400px;"></div>    
    <table id="day_prices_table" border="1"></table>
    <p id="dayPricesUpdated"> </p>
    <hr>
    
    <h3>📉 Month Prices <span><button onclick="updateDailyPriceData(true)">Update</button></span></h3>
    <div id="daily_prices_lineChart" style="width:100%;height:400px;"></div>    
    <table id="daily_prices_table" border="1"></table>
    <p id="dailyPricesUpdated"> </p>
    <hr>

    <h3>💼 Positions <span><button onclick="updatePositionsData(true)">Update</button></span></h3>
    <div id="positions_barChart" style="width:100%;height:400px;"></div>
    <table id="positions_table" border="1"></table>
    <p id="positionsUpdated"> </p>
    <hr>    

    <h3>📊 Trades <span><button onclick="updateTradesData(true)">Update</button></span></h3>
    <div id="trades_barChart" style="width:100%;height:400px;"></div>    
    <table id="trades_table" border="1"></table>
    <p id="tradesUpdated"> </p>
    <hr>

    <h3>🔥 Top Symbols <span><button onclick="updateTopSymbolsData(true)">Update</button></span></h3>
    <div id="top_symbols_barChart" style="width:100%;height:400px;"></div>    
    <table id="top_symbols_table" border="1"></table>
    <p id="scansUpdated"> </p>
    <hr>
    
    <h3>💰 Account <span><button onclick="updateAccountData(true)">Update</button></span></h3>
    <table id="account_table" border="1"></table>
    <p id="accountUpdated"> </p>
    <hr>

    <!-- ================= Run Auto Trade ================= -->    
    <h3>🚀 Run Trades <span><button onclick="startTrade(true)">Update</button></span></h3>        
    <p id="runTradeUpdated"> </p>
    <hr>

    <script>

        async function updateTradeTime()
        {
            document.getElementById("time").textContent = getNYTime();
        }

        async function updateAccountData()
        {
            const res = await fetch("/api/table/account");
            const html = await res.text();
            document.getElementById("account_table").innerHTML = html;       
            document.getElementById("accountUpdated").textContent = "Account updated at " + getNYTime();             
        }

        async function updateDayPriceData()
        {
            const res = await fetch("/api/table/day_prices");
            const html = await res.text();
            document.getElementById("day_prices_table").innerHTML = html;    
            
            const lineres = await fetch("/api/linechart/day_prices");            
            const data = await lineres.json();
            document.getElementById("dayPricesUpdated").textContent = "Day prices updated at " + getNYTime();
            renderLine(data, 'day_prices_lineChart');        
        }        

        async function updateDailyPriceData()
        {
            const res = await fetch("/api/table/daily_prices");
            const html = await res.text();
            document.getElementById("daily_prices_table").innerHTML = html;
            
            const lineres = await fetch('/api/linechart/daily_prices');
            const data = await lineres.json();
            document.getElementById("dailyPricesUpdated").textContent = "Daily prices updated at " + getNYTime();
            renderLine(data, 'daily_prices_lineChart');        
        }

        async function updatePositionsData()
        {
            const res = await fetch("/api/table/positions");
            const html = await res.text();
            document.getElementById("positions_table").innerHTML = html;

            const barres = await fetch('/api/barchart/positions');
            const data = await barres.json();
            renderBar(data, 'positions_barChart');       
            document.getElementById("positionsUpdated").textContent = "Positions updated at " + getNYTime();
        }        
        
        async function updateTopSymbolsData()
        {
            const res = await fetch("/api/table/top_symbols");
            const html = await res.text();
            document.getElementById("top_symbols_table").innerHTML = html;

            const resSymbol = await fetch('/api/barchart/top_symbols');
            const data = await resSymbol.json();
            renderBar(data, 'top_symbols_barChart');
            document.getElementById("scansUpdated").textContent = "Scans updated at " + getNYTime();
        
        }                

        async function updateTradesData()        
        {
            const res = await fetch("/api/table/trades");
            const html = await res.text();
            document.getElementById("trades_table").innerHTML = html;

            const resTrades = await fetch('/api/barchart/trades');
            const data = {} // await resTrades.json();
            renderLine(data, 'trades_barChart');
            document.getElementById("tradesUpdated").textContent = "Trades updated at " + getNYTime();
        }

        function toggleRow(i) {
            const rows = document.querySelectorAll(".child_" + i);
            const btn = document.getElementById("btn_" + i);
            let isHidden = rows[0].style.display === "none";
            rows.forEach(r => {
                r.style.display = isHidden ? "table-row" : "none";
            });
            btn.innerText = isHidden ? "[-]" : "[+]";
        }

    function renderLine(data, chartName) {
        console.log(data)
        lineChart = echarts.init(document.getElementById(chartName));
        let series = [];
        data.forEach(sym => {
            series.push({
                name: sym.symbol,
                type: 'line',
                data: sym.series.map(p => p.y)
            });
        });
        lineChart.setOption({
            xAxis: {
                data: data[0].series.map(p => p.x)
            },
            yAxis: { type: 'value' },
            series: series
        });
    }

    function renderBar(data, chartName) {
        console.log("data", data)
        barChart = echarts.init(document.getElementById(chartName));    
        const symbols = data.map(d => d.x);
        const values = data.map(d => d.y);
        console.log("symbols: ", symbols)
        console.log("values: ", values)
        barChart.setOption({
        tooltip: {
            formatter: (p) => {
                return `
                    ${p.name}<br/>
                    Change: ${(p.value * 100).toFixed(2)}%
                `;
            }
        },
        xAxis: {
            type: 'category',
            data: symbols   // ✅ symbol 做 x轴
        },

        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: (v) => (v * 100).toFixed(2) + "%"
            }
        },
        series: [{
            type: 'bar',
            data: values,
            itemStyle: {
                color: (params) => {
                    return params.value >= 0 ? "#00FF99" : "#FF3366";
                }
            },
            // ✅ 参考线（成本 / 0线）
            markLine: {
                data: [
                    { yAxis: 0 }
                ],
                lineStyle: {
                    width: 2
                }}
            }]
        });
    }

    function getNYTime() {
        return new Date().toLocaleString("en-US", {
            timeZone: "America/New_York",
            hour12: false,
            timeZoneName: "short"
        });
    }

    function isBestTradeTime() {
        const now = getNYTime();
        const currentMinutes = now.getHours() * 60 + now.getMinutes();
        return TRADE_WINDOWS.some(w => {
            const start = w.start[0] * 60 + w.start[1];
            const end   = w.end[0] * 60 + w.end[1];
            return currentMinutes >= start && currentMinutes <= end;
        });
    }
    
    updateTradeTime()
    updateAccountData()
    updateDayPriceData()        
    updateDailyPriceData()
    updatePositionsData()
    updateTopSymbolsData()
    updateTradesData()

    // ==============================
    // 模拟交易
    // ==============================
    async function triggerTrade() {
        //await fetch('/api/trade');
        //await loadChart(); // 👉 只有交易才刷新
    }

    // 5分钟循环刷新
    setInterval(updateTradeTime, 5 * 60 * 1000);

</script>
</body>
</html>
{% endblock %}