body {
    font-family: Arial;
    margin: 0;
}

.topbar {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    padding: 10px;
}

.card {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
}