
<div class="row">

<div class="col-md-8">
<h2>User: {{user.email}}</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for service in userswithservices %}
        <tr>
            <td>{{ service.name }}</td>
            <td>    
                <a href="#"
                    onclick="openService('{{ service.url }}','{{ service.name }}'); return false;"
                    class="btn btn-success btn-sm">
                    View
                </a>                

            </td>
        </tr>
    {% endfor %}
</table>

<script>
    function openService(url, name){
        document.getElementById("serviceFrame").src = url;
        document.getElementById("serviceTitle").innerText = name;
}    
</script>


<div class="col-md-4">
    <h3>Service View</h3>
    <iframe id="serviceFrame"></iframe>
</div>

<style>
    table {border-collapse: collapse;}
    td,th {border:1px solid #ccc;padding:8px;}
    iframe {
        width:300%;
        height:200px;
        border:1px solid #aaa;
    }
</style>


<div class="col-md-4">

  <h3>Chat</h3>

  <div id="chatbox" style="height:100px;overflow:auto" class="border p-2 bg-white"></div>

  <input id="msg" class="form-control mt-2" placeholder="Message">

  <button onclick="sendMsg()" class="btn btn-success mt-2 w-100">Send</button>
  </div>

</div>

<script>
var socket = io();

socket.on("receive_message", function(data){
    let box = document.getElementById("chatbox");
    box.innerHTML += "<div><b>"+data.user+":</b> "+data.msg+"</div>";
});

function sendMsg(){
    let msg = document.getElementById("msg").value;
    socket.emit("send_message",{user:"{{current_user.username}}", msg:msg});
}
</script>
