
{% extends "servicebase.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<body>

<div class="container">
    <h2 id="name"></h2>

    <div class="card">
        🔋 Battery: <span id="battery"></span>%
    </div>

    <div class="card">
        📍 Range: <span id="range"></span> miles
    </div>

    <div class="card">
        ⚡ Charging: <span id="charging"></span>
    </div>

    <div class="card">
        🔒 Locked: <span id="locked"></span>
    </div>

    <div class="card">
        🌡 Inside: <span id="inside_temp"></span>°C
    </div>

    <div class="card">
        🌤 Outside: <span id="outside_temp"></span>°C
    </div>

    <button onclick="loadStatus()">Refresh</button>
</div>

<script>
    function loadStatus(){

    // Fetch JSON from Flask API and update HTML
    fetch("/service/tesla/get-data")
        .then(response => {
            if (!response.ok) throw new Error("Network error");
            return response.json();
        })
        .then(data => {
            document.getElementById("name").textContent = data.name;
            document.getElementById("battery").textContent = data.battery;
            document.getElementById("range").textContent = data.range;
            document.getElementById("charging").textContent = data.charging;
            document.getElementById("locked").textContent = data.locked;
            document.getElementById("inside_temp").textContent = data.inside_temp;
            document.getElementById("outside_temp").textContent = data.outside_temp;
        })
        .catch(error => {
            console.error("Error fetching data:", error);
        });
    }
    loadStatus()
</script>
</body>
</html>
{% endblock %}